/*!
global > color
------------------------------
*/
:root {
    --color-bg-shiny: #B0B7D6;
    --color-bg-primary: #EAF6FD;
    --color-input: #EAF6FD;
    --color-placeholder: #ccc;
    --color-bg-main: #f9fcff;
    --color-bg-air: #C5E2C2;
    --color-air: #C5E2C2;
    --color-font-base: #949087;
    --color-font-date: #EAF6FD;
    --color-font-white: #EAF6FD;
    --color-font-base-hover: #EAF6FD;
    --color-border-shiny: #B0B7D6;
    --color-border-shiny-hover: #EAF6FD;
}
